section {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 1rem;

    li {
      padding-left: 0;
      list-style: none;
      display: flex;
      align-items: center;
      grid-gap: 1rem;

      button {
        mat-icon {
          color: #f44336;
        }
      }
    }
  }

  form {
    mat-form-field {
      max-width: 27rem;
    }
  }
}
