<div class="main-content">
  <h2>{{ subTitle }}</h2>
  <section>
    <h3>{{ sectionTitle }}</h3>
    <p>
      Criar um projeto de aplicação web com identificação (nome completo e RA) no cabeçalho e os seguintes recursos:
    </p>
    <ul>
      <li>
        serviço de temporizador;
      </li>
      <li>
        componente que permita iniciar e parar o temporizador com um intervalo definido pelo usuário;
      </li>
      <li>
        serviço para prover uma lista de disciplinas matriculadas, já populado com as disciplinas matriculadas nesse
        semestre;
      </li>
      <li>
        componente que permita listar e manipular (incluir e remover) a lista de disciplinas.
      </li>
    </ul>
  </section>
</div>
